.squares div{
    position: absolute;
    animation: squares 2s ease-in-out infinite;
}

.squares div:nth-child(1){
    animation-delay: -0.5s;
}

@keyframes squares {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 